$tablet-width: 768px;
$desktop-width: 1024px;
$hd-width: 1368px;

@mixin tablet {
  @media  (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin hd {
  @media (min-width: #{$desktop-width}) and (max-width: #{$hd-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
