@import 'mixins';
@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
main {
  text-align: center;
  position: absolute;
  top: 50px;
}


@font-face {
  font-family: "harryp";
  src: url("/harry_p/HARRYP__.TTF");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "opensans";
  src: url("/opensans.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@include tablet {
  main {
    position: relative;
    top: unset;
  }
}
