@import 'mixins';
@import 'variables';

.header {
    background-color: white;
    color: $blackPrimary;
    height: 50px;
    box-shadow: 0 2px 18px 0 rgb(129 162 182 / 20%);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.rechercherLivre {
    border-radius: 5px;
    box-shadow: none;
    box-sizing: border-box;
    visibility: visible;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 26px;
    outline: 0;
    color: $blackPrimary;
    background-color: transparent;
    border: 1px solid $greyPrimary;
    text-overflow: ellipsis;
    appearance: none;
    &::placeholder {
        text-align: center;
    }
    &[data-show="0"] {
        visibility: hidden;
    }
}

.panier {
    text-align: center;

    a {
        cursor: pointer;
    }
}

.title {
    font-family: 'harryp';
    font-size: 35px;
    text-align: center;
}

.panierContainer {
    position: fixed;
    height: 100%;
    margin-right: -100%;
    width: 350px;
    z-index: 10;
    top: 0;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 0;
    background-color: white;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    overflow: hidden;

    &[data-show="1"] {
        margin-right: 0;
    }
}


@include tablet {
    .header {
        grid-template-columns: 1fr;
        height: auto;
        padding-bottom: 20px;
        justify-items: center;
        grid-gap: 10px;
        position: relative;
        z-index: unset;
    }

    .rechercherLivre {
        width: 90%;
        display: block;
        &[data-show="0"] {
            display: none;
        }
    }

    .panierContainer {
        width: 100%;
    }
}

@include hd {
    .title {
        font-size: 25px;
    }
}