@import 'mixins';
@import 'variables';

.goToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: $cyan;
    cursor: pointer;
    visibility: hidden;
    z-index: 11;

    &[data-show="1"] {
        visibility: visible;
    }
}